langchain>=1.2
langchain-openai
langchain-community
langchain-chroma 
langchain-huggingface
langchain-text-splitters
langchain-milvus
langgraph-checkpoint-sqlite
langgraph
python-dotenv
pydantic>=2
chromadb
sentence-transformers<5.0
transformers<5.0
torch==2.5.1 
torchvision==0.20.1 
torchaudio==2.5.1
pymilvus>=2.4 
milvus-lite